*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
) {
    all: unset;
    display: revert;
}
:root {
    text-transform: uppercase;
}
li {
    list-style: none;
}
a {
    cursor: pointer;
    transition: all .3s;
}
svg {
    transition: all .3s;
}
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    color: white
}
time {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color:#A8A8A8;
    font-weight: 400;
    transition: all .3s;
}
main {
    background-color: #f2f2f2;
}
html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
img {
    height: auto;
}
#header-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1200px;
    margin-inline: auto;
    background-color: #1a1d24;
    color: white;
    fill: white;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding-block: 40px;
}
.layout-width {
    background-color: #1a1d24;
}
.layout-width2 {
    background-color: #e0011a;
} 
.header svg {
    width: 20px;
    height: 20px;
}.header ul {
    display: flex;
}
.main-tools ul,
.header .main-tools {
    display: flex;
    gap: 25px;
    align-items: center;
}
#redes-sociales-ppal::before {
    content: '';
    display: block;
    width: 1px;
    height: 17px;
    background-color: rgba(209,209,209,.5);
}
#redes-sociales-ppal-twitter svg:hover {
    fill: #50abf1;
}
#redes-sociales-ppal-facebook svg:hover {
    fill: #3a559f;
}
#redes-sociales-ppal-instagram svg:hover {
    fill: #d35198;
}
#redes-sociales-ppal-youtube svg:hover {
    fill: #cf2e2e;
}
.main-menu {
    padding: 25px;
}
#features-bf-af::after,
#features-bf-af::before {
    content: "/";
    display: inline-block;
    color: rgba(209,209,209,.5);  
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400; 
}
#news-bf-af::after,
#news-bf-af::before {
    content: "/";
    display: inline-block;
    color: rgba(209,209,209,.5);   
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 400;
}
.news {
    display: flex;
    background-color: #1a1d24;
    max-width: 1200px;
    margin-inline: auto;
    gap: 30px;
    position: relative;
    padding-bottom: 200px;
}
.news h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: none;
    font-weight: 700;
    transition: all .3s;
}
#news-recent-news {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 700;
}
#news-recent-news::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 1px;
    background-color: #FF0000;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 16px;
}
.news > article {
    background-image: url("https://filmax.themerex.net/wp-content/uploads/2018/01/top-promo.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px
}
.news aside article {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}
.news aside article:last-child {
    margin-bottom: 0px;
}
.news aside p {
    margin-bottom: 25px;
}
.news aside article div h1:hover {
    color:grey;
}
.news aside article div time:hover {
    color:white;
}
.news-data {
    position: absolute;
    right: 10px;
    bottom: 200px;
    max-width: 400px;
    padding: 40px 0 0 40px;
    background-color: #1a1d24;
}
.news-data h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 37px;
    color:#FFFFFF;
    padding-bottom: 25px;
    font-weight: 700;
}
#news-data-paragraph {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#A8A8A8;
    text-transform: none;
    font-weight: 400;
    padding-bottom: 25px;
}
#news-data-read-more {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color:#FFFFFF;
    font-weight: 700;
    position: relative;
    max-width: 90px;
    transition: all .3s;
}
#news-data-read-more:hover {
    color:red;
}
#news-data-read-more svg {
    position: absolute;
    fill: red;
    right: 0;
    top: -1px;
}
.slider {
    position: relative;
    margin-top: -120px;
    margin-inline: auto;
    max-width: 1200px;
    padding-bottom: 120px;
}
.slider ul {
    display: flex;
    font-weight: 700;
}
.slider ul li:last-child {
    color: #8b8b8b;
}
.slider ul li:last-child:hover {
    color: #FFFFFF;
}
.slider > article {
    display: flex;
    gap: 20px;
}
.slider nav {
    padding-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
}
#most-popular {
    color: #8b8b8b;
}
#most-popular:hover {
    color: #FFFFFF;
}
#most-popular::after,
#most-popular::before {
    content: "/";
    width: 20px;
    height: 2px;
    color: rgba(209,209,209,.5);
    padding-left: 13px;
    padding-right: 15px;    
}
.films article {
    position: relative;
}
.films img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.films > article > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent);
}
.films div {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.films div h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color:#FFFFFF;
    font-weight: 700;
    transition: all .3s;
}
.films article div a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color:#BDBDBD;
    text-transform: none;
}
.films h1:hover {
    color:grey;
}
.films a:hover {
    color:white;
}
.samurai-principal {
    background-image: url(https://filmax.themerex.net/wp-content/uploads/2018/01/bg_samurai.jpg?id=458);
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
}
.samurai {
    display: flex;
    align-items: center;
    width: 50%;
}
.samurai div{
    width: 50%;
    max-width: 600px;
}
.samurai h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 37px;
    color:#1a1d24;
    font-weight: 700;
    padding-top: 26px;
}
.samurai h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color:#737373;
    font-weight: 700;
}
.samurai h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color:#1a1d24;
    font-weight: 700;
    padding-top: 25px
}
.samurai h3 strong {
    margin-left: 20px;
}
.samurai p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color:#737373;
    font-weight: 400;
    text-transform: none;
    padding: 30px 0px 36px 0px;
}
#samurai-more-information {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #E0041D;
    font-weight: 700;
    transition: all .3s;
}
#samurai-more-information svg {
    padding-right: 23px;
    fill: #E0041D;
    vertical-align: middle;
}
#samurai-trailer {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #1a1d24;
    font-weight: 700;
    padding-left: 23px;
    transition: all .3s;
}
#samurai-trailer svg {
    padding-right: 23px;
    fill: #1a1d24;
    vertical-align: middle;
}
#samurai-more-information:hover {
    color:#b30519;
    fill: #b30519;
}
#samurai-trailer:hover {
    color:#b30519;
    fill: #b30519;
}
#samurai-text {
    position: relative;
}
#samurai-text h4::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 1px;
    background-color: #FF0000;
    margin-top: -34px;
    position: absolute;
}
.trending-films {
    display: flex;
    gap: 0px;
}
.trending-films svg {
    fill: #f8b350;
    vertical-align: middle;
    background-color: #2e3036;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
.trending-films > article > a {
    display: block;
    width: 100%;
    height: 100%;
}
.trending-films button {
    margin-right: 46px;
}
#inferno {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-27-copyright-485x665.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    width: 25%;
    transition: all .3s;
}
#inferno > div > div {
    padding-left: 38px;
    margin-top: 20px;
    opacity: 0;
    transition: all .3s;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #BDBDBD;
    font-weight: 700;
}
#inferno:hover > div {
    bottom: 60px;
    > div {
        opacity: 1;
        margin-top: 35px;
    }
}
#band-of-brothers {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-25-copyright-485x665.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    width: 25%;
}
#band-of-brothers > div > div {
    padding-left: 38px;
    margin-top: 20px;
    opacity: 0;
    transition: all .3s;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #BDBDBD;
    font-weight: 700;
}
#band-of-brothers:hover > div {
    bottom: 60px;
    > div {
        opacity: 1;
        margin-top: 35px;
    }
}
#gladiator {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-29-copyright-485x665.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    width: 25%;
}
#gladiator > div > div {
    padding-left: 38px;
    margin-top: 20px;
    opacity: 0;
    transition: all .3s;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #BDBDBD;
    font-weight: 700;
}
#gladiator:hover > div {
    bottom: 60px;
    > div {
        opacity: 1;
        margin-top: 35px;
    }
}
#pirates-bay {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-23-copyright-485x665.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    width: 25%;
}
#pirates-bay > div > div {
    padding-left: 38px;
    margin-top: 20px;
    opacity: 0;
    transition: all .3s;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #BDBDBD;
    font-weight: 700;
}
#pirates-bay:hover > div {
    bottom: 60px;
    > div {
        opacity: 1;
        margin-top: 35px;
    }
}
.trending-films h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 27px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 16px 38px 10px;
    transition: all .3s;
}
.trending-films article {
    position: relative;
}
.trending-films > article > div {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color:white;
    transition: all .3s;
}
.trending-films > article > div > a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #BDBDBD;
    text-transform: none;
    padding-left: 38px;
}
.trending-films h3::before{
    content: "";
    display: inline-block;
    width: 44px;
    height: 1px;
    background-color: #f8b350;
    margin-top: -31px;
    position: absolute;
}
.trending-films h3:hover {
    color:grey;
}
.trending-films > article > div > a:hover {
    color:white;
}
.reviews {
    display: flex;
    background-color: #e0011a;
    max-width: 1200px;
    margin-inline: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.reviews article {
    text-align: center;
    width: 400px;
    flex: 0 0 400px;
}
.reviews img {
    height: 105px;
    width: 105px;
    border-radius: 50%;
}
.comillas-img {
    max-width: 105px;
    max-height: 105px;
    margin-inline: auto;
    position: relative;
    margin-bottom: 46px;
}
.comillas-img::after {
    content: "";
    background-image: url(/iconmonstr-quote-right-filled.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    height: 34px;
    width: 34px;
    position: absolute;
    background-color: #1a1d24;
    bottom: -15px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.reviews h4 {
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: none;
    margin-bottom: 1.85em;
}
.reviews p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 700;
}
.reviews h5 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 8px;
}
#latest-news-ppal {
    padding-block: 150px;
}
#latest-news {
    max-width: 1200px;
    margin-inline: auto;
}
#latest-news h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 37px;
    color: #1a1d24;
    margin-left: -5px;
    font-weight: 700;
    position: relative;
}
#latest-news h1::before {
    content: "";
    display: inline-block;
    width: 48px;
    height: 1px;
    background-color: #FF0000;
    position: absolute;
    top: -34px;
}
#latest-news h2 {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #737373;
    padding: 5px 0 42px 0;
    margin-left: -5px;
    text-transform: none;
    font-weight: 400;
}
#browse-more {
    margin-inline: auto;
    max-width: 1200px;
    text-align: center;
    padding-top: 40px;
}
#browse-more button {
    background-color: #E0041D;
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 16px 39px;
    border-radius: 5px;
    transition: all .3s;
}
#browse-more button:hover {
    background-color: #bb081c;
}
#bg-color-section-grid {
    background-color: white;
}
.container {
    display: grid;
    grid-template-columns: 600px 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 30px;
    justify-content: center;
}
.container > article > a {
    display: block;
    width: 100%;
    height: 100%;
}
#principal {
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.35)), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-3-copyright.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: all .3s;
}
#principal:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.45)), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-3-copyright.jpg);
}
#principal > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 38px 34px;
}
#principal > div > div a:hover{
    fill: white;
}
#principal > div > div time:hover {
    color: white;
}
#principal h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 37px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 12px;
}
#principal a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color: #f8b350;
    font-weight: 700;
    fill: #d2d2d2;
}
#niños {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.35)), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-12-copyright.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#niños:hover {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.45)), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-12-copyright.jpg);
}
#niños > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 31px;
}
#niños > div > div a:hover{
    fill: white;
}
#niños > div > div time:hover {
    color: white;
}
#niños h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 12px;
}
#niños a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color: #f8b350;
    font-weight: 700;
    fill: #d2d2d2;
}
#hombre-con-camara {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.35)), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-5-copyright.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#hombre-con-camara:hover {
    transition: all .3s;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.45)), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-5-copyright.jpg);
}
#hombre-con-camara > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 31px;
}
#hombre-con-camara > div > div a:hover{
    fill: white;
}
#hombre-con-camara > div > div time:hover {
    color: white;
}
#hombre-con-camara h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 12px;
}
#hombre-con-camara a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color: #f8b350;
    font-weight: 700;
    fill: #d2d2d2;
}
#padres-con-niño {
    grid-column: 2/4;
    grid-row: 2/3;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.35)), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-6-copyright.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#padres-con-niño:hover {
    transition: all .3s;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.45)), url(https://filmax.themerex.net/wp-content/uploads/2017/12/post-6-copyright.jpg);
}
#padres-con-niño > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 38px 31px;
}
#padres-con-niño > div > div a:hover{
    fill: white;
}
#padres-con-niño > div > div time:hover {
    color: white;
}
#padres-con-niño h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 12px;
}
#padres-con-niño a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    color: #f8b350;
    font-weight: 700;
    fill: #d2d2d2;
}
footer {
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 1200px;
    padding-block: 120px;
}
.logo p {
    margin-top: 1.5em;
    font-family: 'Lora', serif;
    font-size: 14px;
    color: #a8a8a8;
    text-transform: none;
}
.movies-footer li {
    margin: 9px 0px;
}
.movies-footer p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 17px;
}
.movies-footer p::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 28px;
    background: red;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 16px;
}
.movies-footer a {
    font-family: 'Lora', serif;
    font-size: 14px;
    color: #a8a8a8;
    text-transform: none;
}
.additional-links li {
    margin: 9px 0px;
}
.additional-links p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 17px;
}
.additional-links p::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 28px;
    background: red;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 16px;
}
.additional-links a {
    font-family: 'Lora', serif;
    font-size: 14px;
    color: #a8a8a8;
    text-transform: none;
}
.newsletter ul {
    display: flex;
}
.newsletter p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 17px;
}
.newsletter p::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 28px;
    background: red;
    vertical-align: middle;
    margin-top: -1px;
    margin-left: 16px;
}
#go-up {
    position: fixed;
    right: 2em;
    bottom: 2em;
    fill: #FFFFFF;
    border-color: #1a1d24;
    background-color: #1a1d24;
    max-width: 48px;
    max-height: 48px;
    transition: all .3s;
}
#go-up:hover {
    fill:red;
}
#menu-lateral-fijo {
    display: flex;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 2px;
    right: -8px;
}
#menu-lateral-fijo:hover {
    right: 0;
}
#menu-lateral-fijo a {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 68px;
    height: 60px;
    background-color: #E0041D;
    box-shadow: 0 2px 24px -2px rgba(0, 0, 0, 0.14);
}