*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
) {
    all: unset;
    display: revert;
}
@font-face {
    font-family: 'Courier Prime';
    src: url(/fonts/CourierPrime-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Courier Prime';
    src: url(/fonts/CourierPrime-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Open Sans';
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Garamond';
    src: url(/fonts/EBGaramond-VariableFont_wght.ttf);
}
li {
    list-style: none;
}
a {
    cursor: pointer;
}
.prueba {
    background-image: url(/codificacion-programas-informaticos-pantalla.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 80px;
    height: 700px;
    .menu-header {
        .menu-ppal {
            max-width: 1200px;
            margin-inline: auto;
            background-color: #212529;
            padding-block: 15px;
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                li {
                    a{
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: 16px;
                        color: #ffffff;
                        position: relative;
                        &::after,
                        &::before {
                            position: absolute;
                            opacity: 0;
                            width: 0%;
                            height: 2px;
                            content: '';
                            background: #FFF;
                            transition: all 0.3s;
                        }
                        &::after {
                            right: 0;
                            bottom: 0;
                        }
                        &::before {
                            left: 0;
                            top: 0;
                        }
                        &:hover {
                            color: #999999;
                            &:before,
                            &:after{
                                opacity: 1;
                                width: 100%;
                            }
                        }
                    }
                }
                .more-information {
                    position: relative;
                    ul {
                        text-align: center;
                        display: none;
                        transition: all .3s;
                        background-color: #212529;
                        width: 100%;
                        li {
                            padding-block: 10px;
                            border: 1px solid rgb(19, 21, 24);
                        }
                    }
                    &:hover {
                        ul {
                            position: absolute;
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .box-presentacion {
        background-color: #343A40;
        max-width: 1200px;
        margin-inline: auto;
        .presentacion{
            padding: 60px;
            h1 {
                font-family: 'Courier Prime', sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 36px;
                color: #ffffff;

            }
            p {
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                font-style: normal;
                font-size: 84px;
                padding-block: 30px;
                color: #ffffff;
            }
        }
        .redes-sociales {
            max-width: 1200px;
            margin-inline: auto;
            padding-bottom: 60px;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                li {
                    text-align: center;
                    height: 45px;
                    width: 45px;
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                    .linkedin{
                        border-radius: 50%;
                        background-color: #0a66c2;
                        text-align: center;
                        vertical-align: middle;
                        transition: all .3s;
                        svg {
                            fill: white;
                            padding: 10px;
                        }
                        &:hover {
                            background-color: #084f97;
                        }
                    }
                    .github {
                        background-color: transparent;
                        border-radius: 50%;
                        transition: all .3s;
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.514);
                        }
                    }
                    .gmail {
                        border-radius: 50%;
                        background-color: red;
                        text-align: center;
                        vertical-align: middle;
                        transition: all .3s;
                        svg {
                            fill: #ffffff;
                            padding: 10px;
                        }
                        &:hover {
                            background-color: rgb(182, 0, 0);
                        }
                    }
                }
            }
        }
    }
}
.about-me {
    padding-top: 60px;
    background-color: rgba(33, 37, 41);
    #about {
        background-color: #343A40;
        max-width: 1200px;
        margin-inline: auto;
        padding-block: 60px;
        display: flex;
        gap: 25px;
        justify-content: space-around;
        box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.644);
        .img {
            text-align: center;
            border-radius: 50%;
            width: 30%;
            img {
                width: 300px;
                height: 300px;
                object-fit: cover;
                border: 2px solid rgba(33, 37, 41);
                background-color: #495057;
            }
        }
        .text {
            width: 70%;
            h1 {
                font-family: 'Courier Prime', sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 36px;
                color: white;
            }
            p {
                font-family: 'Open Sans', sans-serif;
                font-weight: 500;
                font-style: normal;
                font-size: 18px;
                padding-block: 30px;
                color: white;
            }
        }
    }
}
.education {
    padding-top: 60px;
    background-color: rgba(33, 37, 41);
    #education {
        background-color: #343A40;
        max-width: 1200px;
        margin-inline: auto;
        padding-block: 60px;
        display: flex;
        gap: 25px;
        justify-content: space-around;
        box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.644);
        .titulo-text {
            text-align: center;
            width: 30%;
            h1 {
                font-family: 'Courier Prime', sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 36px;
                color: white;
            }
        }
        .text{
            width: 70%;
            ul {
                h2 {
                    font-family: 'Courier Prime', sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 32px;
                    color: white;
                }
                h3 {
                    font-family: 'Garamond', sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 22px;
                    color: rgb(163, 163, 163);
                    padding-block: 20px;
                }
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 16px;
                    padding-block: 30px;
                    color: white;
                }
            }
        }
    }
    #languages {
        background-color: #343A40;
        max-width: 1200px;
        margin-inline: auto;
        padding-block: 60px;
        display: flex;
        gap: 25px;
        justify-content: space-around;
        box-shadow: 0 0 8px -2px rgba(0, 0, 0, 0.644);
        .titulo-text {
            text-align: center;
            width: 30%;
            h1 {
                font-family: 'Courier Prime', sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 36px;
                color: white;
            }
        }
        .text{
            width: 70%;
            ul {
                li {
                    h2 {
                    font-family: 'Courier Prime', sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 32px;
                    color: white;
                }
                h3 {
                    font-family: 'Garamond', sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 22px;
                    color: rgb(163, 163, 163);
                    padding-block: 20px;
                }
                p {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    font-size: 16px;
                    padding-block: 30px;
                    color: white;
                }
                }
                
            }
        }
    }
}
#go-up {
    position: fixed;
    right: 2em;
    bottom: 2em;
    background-color: #343A40;
    max-width: 48px;
    max-height: 48px;
    transition: all .3s;
    &:hover {
        fill:rgb(255, 255, 255);
    }
}